<script type="text/javascript" src="{{'custom.js'| asset_url}}" defer></script>
<script type="text/javascript" src="{{'product-page.js'| asset_url}}" defer></script>
<link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
<script defer src="https://cdn.tailwindcss.com"></script>

    <div id="show-cart" class="w-full h-10 bg-red-500 text-white text-center">
      open cart
    </div>


{% comment %}
if possible add tag logic here
{% endcomment %}
{% assign show_print_swap = "false" %}

{% for tag in product.tags %}
  {% assign d_tag = tag | downcase %}
  {% if d_tag == "feature-design-selector" %}
    {% assign show_print_swap = "true" %}
  {% endif %}
{% endfor %}


{% comment %}
end tag logic
{% endcomment %}

{% capture label %}
  {% render "label-generator" %}
{% endcapture %}

<div id="product-page-wrapper" class="flex w-full justify-center mb-20" >
  <div id="product-page-inner-wrapper" class="grid lg:grid-cols-2 max-w-7xl w-full lg:mt-4">


    <!-- Product images  -->
      <div id="product-images" class="lg:h-full">
        <div id="main-product-image" class="relative w-full">
          <div class="relative prod-image-wrapper" >
            <div class="img-padding w-full " style="padding-top: 100%;">
              <div class="absolute top-0 left-0 bg-slate-100 rounded-md">
              {{ product.featured_image.src | image_url: width: 1800 | image_tag: width: '100%', height: '100%', alt: image.alt, widths:'300, 600, 900, 1200, 1500, 1800' | escape }}
              </div>
            </div>
          </div>
          {% for image in product.images %}
            {% unless forloop.first %}
              <div class="relative prod-image-wrapper mobile-image-slide-wrapper" >
                <div class="img-padding w-full " style="padding-top: 100%;">
                  <div class="absolute top-0 left-0 bg-slate-100 rounded-md">
                      {% assign image_url = image.src | image_url: width: 1800 %}
                      {% assign image_tag = image_url | image_tag: width: '100%', height: '100%', alt: image.alt, widths: '300, 600, 900, 1200, 1500, 1800' %}
                      
                      {% assign lazy_image_tag = image_tag | replace: '<img', '<img loading="lazy"' %}
                      {{ lazy_image_tag }}
                  </div>
                </div>
              </div>
            {% endunless %}
          {% endfor %}
            
          </div>
          <div id="desktop-secondary-images" class="hidden lg:grid lg:grid-cols-3" style="max-width:100vw;"> 
          {% for image in product.images %}
            {% unless forloop.first %}
              <div class="product-image relative w-full lg:px-8 min-w-8 py-2 pt-4">
                <div class="img-padding w-full bg-slate-100 rounded-md" style="padding-top: 100%; position: relative;">
                  <img class="rounded-md"  width="100%" height="100%" src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="w-full h-full object-cover" style="position: absolute; top: 0; left: 0;" />
                </div>
              </div>
            {% endunless %}
          {% endfor %}
        </div>
     
      </div>

    <!-- product info -->
      <div id="product-content" style="max-width:100vw;">      
        <div id="product-content-wrapper" class="px-4 lg:px-2">
          <div id="label-wrapper" class="w-max mt-1">
            {{ label }}
          </div>
          <div id="product-title" class="text-xl lg:text-3xl marujo mb-2"> {{ product.title }} </div>
            <div id="product-price" class="text-sm lg:text-lg flex"
              >
              <div id="prod-price" class="text-magenta-500">{{ product.price | money }} </div>
              <del id="prod-comp-price" class="ml-2 text-gray-500 {% if product.price == product.compare_at_price %}hidden{% endif %}">{{ product.compare_at_price | money }} </del>
            </div>
          {% if show_print_swap == "true" %}
            {% render 'print-swap' %}
          {% endif %}


          <!-- product variants -->
        <div id="product-variants" class="mb-2" >
          {%- unless product.has_only_default_variant -%}
            <div class="product-options">
              {%- for option in product.options_with_values -%}
                <div class="product-option ">
                  <h3>{{ option.name | escape }}</h3>
                      <div class="product-variants grid grid-cols-4 gap-2">
                        
                        
                        <!-- option values -->
                        {%- for value in option.values -%} 
                          <div data-id="{{ value.variant.id }}" data-title="{{ value.name }}" class="product-variant relative {% unless value.variant.available %}variant-unavailable{% endunless %}">
                            <div class="out-of-stock-marker absolute z-10" style="right:5%; bottom:10%;"><svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="15" height="15" viewBox="0 0 24 24" stroke="#f00f83" xmlns="<http://www.w3.org/2000/svg>"><path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path></svg></div> 
                            <label data-active="ring-2 ring-magenta" class="ooption-value group relative flex items-center justify-center rounded-md border-2 py-4 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm">
                              {% if value.variant.available %}<input type="checkbox" value="{{ value.variant.id }}" class="peer sr-only" /> {% endif %}
                              <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-magenta-500 peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                              <span class="option-value relative peer-checked:text-white"><del class="out-of-stock-marker">{{ value.name }}</del><div class="in-stock-marker">{{ value.name }}</div>  </span>
                            </label>
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                {%- endfor -%}
            </div>
         {%- endunless -%}
            
        </div>

          
        <!-- add to cart buttons -->
          <div id="cart-marker"></div>
            <div class="grid grid-cols-4 gap-2">
              <div id="atc-button" class="w-full bg-magenta-500 rounded-md text-white justify-center items-center flex py-2 col-span-3" style="bottom:0px; top:0px">
                <div id="" class="add-to-cart-loaded pointer-events-none">{{ "ob_quick_buy.atc" | t }}</div>
                <div id="" class="add-to-cart-loading pointer-events-none w-full flex justify-center items-center h-full" style="display:none;"><svg class="loading-ele-outer h-6 w-6" viewBox="25 25 50 50"><circle class="loading-ele-inner" style="stroke: white;" cx="50" cy="50" r="20" fill="none" stroke-width="4"></circle></svg></div>
              </div>
              <div id="quantity-selector" x-data="{count:1}" class="cols-span-1">
                <div id="decrement" class="qs" @click="if(count!=1){count--}">-</div>
                <div id="quantity" class="qs" x-text="count">1</div>
                <div id="increment" class="qs" @click="count++">+</div>
              </div>
            </div>
          </div>

        
          <div id="product-description">
              <div id="description-header" class="px-4 py-2 mt-2 border-y border-solid border-dray-300 relative" >
                Description
                <svg class="absolute right-2" style="top:50%; transform:translateY(-50%) rotate(-90deg)" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

              </div>


                    
              
          </div>
                    
      {% assign my_product = settings.variable_values_product %}
        {% if my_product %}
        {% for variant in my_product.variants %}
          {% if variant.title == 'FreeGift_MinSpend' %}
            {% assign fg_threshold = variant.price | money  %}
          {% endif %}
          {% if variant.title == 'FreeShipping_MinSpend' %}
            {% assign fs_threshold = variant.price | money  %}
          {% endif %}
          {% if variant.title == 'FreeGift_Value' %}
            {% assign fg_value = variant.price | money %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <div id="product-page-fancy-things" class="px-6 py-6 rounded-md border border-solid border-color bg-gray-50 mx-4 my-2">
            
            <div class="flex items-center mb-3 ">
              <div class="w-12 flex-initial pr-8">
                <span class="">
                  <svg class="w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8" d="M240,120H176V80h42.58374a8,8,0,0,1,7.42781,5.02887Z"></path><line x1="16" x2="176" y1="144" y2="144" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></line><circle cx="188" cy="192" r="24" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></circle><circle cx="68" cy="192" r="24" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></circle><line x1="164" x2="92" y1="192" y2="192" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></line><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8" d="M44 192H24a8 8 0 0 1-8-8V72a8 8 0 0 1 8-8H176V171.21508M176 171.21508V120h64v64a8 8 0 0 1-8 8H212"></path></svg>
                </span>
              </div>
              <div class="text-sm md:text-base flex-initial">
                <span class="font-medium">Free UK Tracked Shipping on orders over{{ fs_threshold }}</span>
              </div>
            </div>
            
            
            <div class="flex items-center mb-3 ">
              <div class="w-12 flex-initial pr-8">
                <span class="">
                  <svg class="w-8" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 1000 1000"><path d="M392.58,613.47H211.08a127.08,127.08,0,1,1,0-254.15h181.5a16,16,0,0,1,16,16V597.47A16,16,0,0,1,392.58,613.47ZM211.08,391.32a95.08,95.08,0,1,0,0,190.15h165.5V391.32Z"></path><path d="M273 877.44a72.9 72.9 0 01-72.82-72.81V597.47a16 16 0 0116-16H329.82a16 16 0 0116 16V804.63A72.89 72.89 0 01273 877.44zm-40.82-264V804.63a40.82 40.82 0 0081.63 0V613.47zM735 800.24c-10.36 0-22.64-2.09-37.33-6.26a15.93 15.93 0 01-3.75-1.6l-309.46-182a16 16 0 1116.23-27.58l307.65 180.9c27.11 7.41 34.86 3.67 36.6 2.32 6.14-4.75 5.64-25.89 5.17-46.33-.16-6.75-.32-13.74-.32-21.15V274.2c0-7.41.16-14.39.32-21.14.47-20.45 1-41.58-5.17-46.33-1.74-1.35-9.49-5.1-36.6 2.32L400.69 390a16 16 0 11-16.23-27.58l309.46-182a15.86 15.86 0 013.74-1.6c32.14-9.12 52.76-8.31 66.88 2.62 18.91 14.64 18.28 41.39 17.56 72.37-.16 6.57-.31 13.37-.31 20.4V698.58c0 7 .15 13.83.31 20.4.72 31 1.35 57.74-17.56 72.38C756.88 797.29 747.3 800.24 735 800.24zM291.57 466.41H201a16 16 0 010-32h90.56a16 16 0 010 32zM291.57 538.37H201a16 16 0 010-32h90.56a16 16 0 110 32z"></path><path d="M766.17,588.18c-.44,0-.9,0-1.34,0a16,16,0,0,1,1.44-32,69.79,69.79,0,0,0,0-139.57,16,16,0,0,1-1.45-32c.44,0,.9,0,1.34,0a101.79,101.79,0,0,1,0,203.57Zm.55-32h0Zm0,0h0Zm0-139.6h0Zm0,0h0Z"></path></svg>
                </span>
              </div>
              <div class="text-sm md:text-base flex-initial">
                <span class="font-medium">Spend over {{ fg_threshold }} get 1 FREE PRODUCT (Up to RRP {{ fg_value }}).</span>
              </div>
            </div>

            
            
            <div class="flex items-center mb-3 ">
              <div class="w-12 flex-initial pr-8">
                <span class="">
                  <svg class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><path d="M15.222 40.41c.992 2.393 3.525 3.32 5.76 4.137 1.242.455 2.527.925 3.109 1.507.337.338.636.914.917 1.578L17.8 68.939a1.998 1.998 0 0 0 2.784 2.432l5.117-2.542 2.615 5.086a1.999 1.999 0 0 0 3.673-.275l7.03-20.82c.354-.102.69-.176.98-.176s.626.074.98.175l7.03 20.82a2 2 0 0 0 3.673.276l2.615-5.086 5.117 2.542a1.998 1.998 0 0 0 2.784-2.432l-7.207-21.307c.28-.664.58-1.24.917-1.578.583-.582 1.867-1.052 3.11-1.507 2.234-.818 4.767-1.744 5.76-4.136.956-2.31-.144-4.709-1.116-6.825-.572-1.246-1.164-2.534-1.164-3.44 0-.907.592-2.195 1.164-3.442.972-2.116 2.072-4.514 1.115-6.824-.992-2.393-3.525-3.319-5.76-4.137-1.242-.454-2.526-.924-3.109-1.507-.582-.582-1.053-1.867-1.507-3.11-.817-2.234-1.744-4.767-4.136-5.758-2.309-.96-4.71.143-6.825 1.114-1.246.573-2.535 1.164-3.441 1.164s-2.195-.591-3.441-1.164c-2.116-.971-4.518-2.072-6.824-1.115-2.393.992-3.32 3.526-4.137 5.76-.454 1.243-.925 2.527-1.507 3.11-.582.582-1.867 1.052-3.11 1.507-2.234.817-4.767 1.744-5.76 4.136-.956 2.31.144 4.708 1.116 6.825.572 1.246 1.164 2.534 1.164 3.44 0 .907-.592 2.195-1.164 3.44-.972 2.117-2.072 4.516-1.115 6.826zm14.49 27.471-1.355-2.636a2 2 0 0 0-2.668-.876l-2.548 1.266L27.414 53c.587.818 1.322 1.51 2.321 1.924.628.26 1.262.368 1.895.368.838 0 1.674-.19 2.492-.467l-4.41 13.056zm24.599-3.512a2 2 0 0 0-2.668.876l-1.356 2.636-4.41-13.057c1.438.486 2.932.704 4.388.1 1-.415 1.734-1.106 2.32-1.924l4.274 12.635-2.548-1.266zM19.973 25.035c-.6-1.304-1.345-2.927-1.056-3.622.32-.772 1.977-1.378 3.44-1.913 1.649-.604 3.355-1.228 4.562-2.435s1.831-2.914 2.435-4.564c.535-1.461 1.141-3.119 1.914-3.439a.999.999 0 0 1 .38-.064c.804 0 2.137.612 3.242 1.12 1.636.751 3.329 1.528 5.11 1.528s3.474-.777 5.11-1.528c1.305-.599 2.93-1.344 3.623-1.056.772.32 1.378 1.977 1.913 3.439.604 1.65 1.228 3.356 2.435 4.563s2.913 1.832 4.564 2.436c1.461.535 3.119 1.141 3.438 1.912.29.696-.456 2.319-1.056 3.623-.75 1.637-1.528 3.33-1.528 5.11s.777 3.474 1.528 5.11c.6 1.305 1.345 2.928 1.056 3.623-.32.771-1.977 1.378-3.438 1.913-1.65.604-3.357 1.228-4.564 2.435s-1.831 2.913-2.435 4.564c-.536 1.461-1.141 3.119-1.913 3.439-.694.292-2.318-.457-3.623-1.056-1.636-.752-3.329-1.529-5.11-1.529s-3.474.777-5.11 1.529c-1.304.6-2.927 1.348-3.623 1.056-.772-.32-1.377-1.978-1.913-3.44-.604-1.65-1.228-3.356-2.435-4.563-1.207-1.207-2.913-1.831-4.563-2.435-1.462-.535-3.12-1.141-3.439-1.913-.29-.695.456-2.318 1.056-3.623.75-1.636 1.528-3.329 1.528-5.11 0-1.78-.777-3.473-1.528-5.11z"></path><path d="M40 44.013c7.646 0 13.868-6.221 13.868-13.867S47.646 16.278 40 16.278s-13.868 6.221-13.868 13.868S32.354 44.013 40 44.013zm0-23.735c5.441 0 9.868 4.427 9.868 9.868S45.441 40.013 40 40.013s-9.868-4.427-9.868-9.867 4.427-9.868 9.868-9.868z"></path></svg>
                </span>
              </div>
              <div class="text-sm md:text-base flex-initial">
                <span class="font-medium">We have donated over £950,000 to charities since 2014. Find Out More</span>
              </div>
            </div>
            
          
          </div>

                    
        <div id="product-recommendations" class="px-4">
          <div id="product-recommendations-header"> You Might Like </div>
          <div id="product-recommendations-container" class="flex overflow-x-scroll"></div>
        </div>
 

      </div>
      
    </div>
  </div>
  <input id="product-json" type="hidden" value='{{ product | json | escape }}' />
  