{% comment %}

Template being used for live site

{% endcomment %}
<style>
.bg-gradient-to-l{
  background: -webkit-linear-gradient(#16baff,#f00f83);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
   
</style>
{% assign prefix = '' %}

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->

<!-- info blocks -->
<div id="about-us-content" class="py-16 overflow-hidden blend-divide">
  <div class="max-w-7xl mx-auto px-4 space-y-8 sm:px-6 lg:px-8">
    <div class="text-base max-w-prose mx-auto lg:max-w-none relative z-10">
      <p class="text-base text-gray-400 font-semibold tracking-wide uppercase font-bebas">About Us</p>
      <div class="lg:text-5xl bg-clip-text bg-gradient-to-l font-extrabold from-cyan-400 leading-8 max-w-4xl mt-2 text-4xl text-transparent to-magente a tracking-tight xs:text-5xl ">OddBalls was established in 2014 and has quickly become one of the biggest underwear brands in the UK.</div>
    </div>
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
      <div class="relative z-10">
        <div class="text-gray-500 mx-auto lg:max-w-none">
          <div class="mx-auto">
            {{ "ob_about_us.paragraph_1_html" | t }}
            {{ "ob_about_us.paragraph_2_html" | t }}
            {{ "ob_about_us.paragraph_3_html" | t }}
            {{ "ob_about_us.paragraph_4_html" | t }}
          </div>          
        </div>
      </div>


      
      <!-- Swiper Container -->
<div class="swiper-container py-12 sm:py-0 relative text-base max-w-prose mx-auto overflow-hidden border-2 border-solid shadow-md rounded-md">
  <div class="swiper-wrapper">
    <!-- Slide 1 -->
    <div class="swiper-slide ">
      <div class="responsive-slider-wrap-4 lg:max-w-md bg-white relative  xl:max-w-full">
        <div class="responsive-slider-4 rounded-t-lg sm:px-5 sm:pt-5 sm:pb-4">
          <div class="slick-slide flex flex-wrap mx-auto p-7 rounded-md">
            <div class="grid grid-cols-2 w-full">
              <div class="text-xl xs:text-2xl items-end justify-start flex"><span>Liam Jones</span></div>
              <div class="flex flex-col items-end flex justify-end">
                <div class="">
                  <img class="" src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png 3x">
                </div>
                <div>
                  <img src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_104g00u000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108w01o000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_10dc02i000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png 3x" class="">
                </div>
              </div>
            </div>
            <div class="font-semibold py-3 col-span-2 text-3xl font-bebas">BRILL !!!</div>
            <p class="text-lg w-full overflow-hidden">
              Everything about oddballs is FANTASTIC. I’ll have my subscription for many many years to come 😍.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="swiper-slide">
      <div class="responsive-slider-wrap-4 lg:max-w-md bg-white relative rounded-md xl:max-w-full">
        <div class="responsive-slider-4 rounded-t-lg sm:px-5 sm:pt-5 sm:pb-4">
          <div class="slick-slide flex flex-wrap mx-auto p-7 rounded-md">
            <div class="grid grid-cols-2 w-full">
              <div class="text-xl xs:text-2xl items-end justify-start flex"><span>Matt Pearce</span></div>
              <div class="flex flex-col items-end flex justify-end">
                <div class="">
                  <img class="" src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png 3x">
                </div>
                <div>
                  <img src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_104g00u000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108w01o000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_10dc02i000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png 3x" class="">
                </div>
              </div>
            </div>
            <div class="font-semibold py-3 col-span-2 text-3xl font-bebas">Great quality products</div>
            <p class="text-lg w-full overflow-hidden">
              Great quality products, well packaged and brilliant service. Looking forward to my next month’s subscription, thanks!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="swiper-slide">
      <div class="responsive-slider-wrap-4 lg:max-w-md bg-white relative rounded-md xl:max-w-full">
        <div class="responsive-slider-4 rounded-t-lg sm:px-5 sm:pt-5 sm:pb-4">
          <div class="slick-slide flex flex-wrap mx-auto p-7 rounded-md">
            <div class="grid grid-cols-2 w-full">
              <div class="text-xl xs:text-2xl items-end justify-start flex"><span>Ian Fleming</span></div>
              <div class="flex flex-col items-end flex justify-end">
                <div class="">
                  <img class="" src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png 3x">
                </div>
                <div>
                  <img src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-ustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_104g00u000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108w01o000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_10dc02i000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png 3x" class="">
                </div>
              </div>
            </div>
            <div class="font-semibold py-3 col-span-2 text-3xl font-bebas">Excellent Service from start to finish</div>
            <p class="text-lg w-full overflow-hidden">
              Excellent service from start to finish. Really excellent product and I will definitely be buying more. 5 stars thank you.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="swiper-slide">
      <div class="responsive-slider-wrap-4 lg:max-w-md bg-white relative rounded-md xl:max-w-full">
        <div class="responsive-slider-4 rounded-t-lg sm:px-5 sm:pt-5 sm:pb-4">
          <div class="slick-slide flex flex-wrap mx-auto p-7 rounded-md">
            <div class="grid grid-cols-2 w-full">
              <div class="text-xl xs:text-2xl items-end justify-start flex"><span>Helen</span></div>
              <div class="flex flex-col items-end flex justify-end">
                <div class="">
                  <img class="" src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png 3x">
                </div>
                <div>
                  <img src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_104g00u000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108w01o000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_10dc02i000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png 3x" class="">
                </div>
              </div>
            </div>
            <div class="font-semibold py-3 col-span-2 text-3xl font-bebas">Great product always look forward to my...</div>
            <p class="text-lg w-full overflow-hidden">
              Great product always look forward to my delivery, and customer services are wonderful 100% recommend.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 5 -->
    <div class="swiper-slide">
      <div class="responsive-slider-wrap-4 lg:max-w-md bg-white relative rounded-md xl:max-w-full">
        <div class="responsive-slider-4 rounded-t-lg sm:px-5 sm:pt-5 sm:pb-4">
          <div class="slick-slide flex flex-wrap mx-auto p-7 rounded-md">
            <div class="grid grid-cols-2 w-full">
              <div class="text-xl xs:text-2xl items-end justify-start flex"><span>Shar</span></div>
              <div class="flex flex-col items-end flex justify-end">
                <div class="">
                  <img class="" src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png 3x">
                </div>
                <div>
                  <img src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_104g00u000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108w01o000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_10dc02i000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png 3x" class="">
                </div>
              </div>
            </div>
            <div class="font-semibold py-3 col-span-2 text-3xl font-bebas">Love these</div>
            <p class="text-lg w-full overflow-hidden">
              Love these, so comfortable and jazzy design puts a smile on your face.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 6 -->
    <div class="swiper-slide">
      <div class="responsive-slider-wrap-4 lg:max-w-md bg-white relative rounded-md xl:max-w-full">
        <div class="responsive-slider-4 rounded-t-lg sm:px-5 sm:pt-5 sm:pb-4">
          <div class="slick-slide flex flex-wrap mx-auto p-7 rounded-md">
            <div class="grid grid-cols-2 w-full">
              <div class="text-xl xs:text-2xl items-end flex"><span>Jamie</span></div>
              <div class="flex flex-col items-end flex justify-end">
                <div class="">
                  <img class="" src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320xilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png 3x">
                </div>
                <div>
                  <img src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png" data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_104g00u000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108w01o000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_10dc02i000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png 3x" class="">
                </div>
              </div>
            </div>
            <div class="font-semibold py-3 col-span-2 text-3xl font-bebas">Incredible designs</div>
            <p class="text-lg w-full overflow-hidden">
              Incredible designs, great fitting undies and at a decent price. Delivered in no time at all!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>

              
      	<div class="mt-6 col-span-2 mb-6 md:mx-10 lg:mx-0">
          <h3 class="mb-2 text-magenta text-3xl font-bebas">Our Products</h3>
          <p class="text-gray-500 mx-auto text-base leading-7 text-gray-700 mb-2">We use a range of different factories around the world including right here in the UK, Europe, India, China, Pakistan and more.</p>
          <p class="text-gray-500 mx-auto text-base leading-7 text-gray-700">We use factories and raw materials that are ethically sourced when possible. We also visit all of our factories once a year ourselves, to make sure we're happy to continue working with them.</p>
		</div>
    </div>
    <div class="mt-10 bg-gray-50 max-w-4xl">
        <div class="grid grid-cols-2 rounded-md overflow-hidden border-2 border-solid">
          <div class="border-solid border-b border-r px-4 md:px-10 py-4">
            <h4 class="text-base font-medium text-gray-500">Founded</h4>
            <span class="text-3xl font-extrabold tracking-tight text-gray-900">2014</span>
          </div>

          <div class="border-b border-solid px-4 md:px-10 py-4">
            <h4 class="text-base font-medium text-gray-500">Designs</h4>
            <span class="text-3xl font-extrabold tracking-tight text-gray-900" >300+</span>
          </div>

          <div class="border-r border-solid px-4 md:px-10 py-4">
            <h4 class="text-base font-medium text-gray-500">Donated</h4>
            {% capture total_raised %}{%- include 'ob-multilang' with '{{ totalraised_counter }}' -%}{% endcapture %}
            {% assign total_raised = total_raised | strip_html | strip %} 
            <span class="text-3xl font-extrabold tracking-tight text-gray-900">£{{ total_raised }}</span>
          </div>

          <div class="px-4 md:px-10 py-4">
            <h4 class="text-base font-medium text-gray-500">Partnerships</h4>
            <span class="text-3xl font-extrabold tracking-tight text-gray-900">20+</span>
          </div>
        </div>
      </div>
    {%  comment %}
    <div class="mt-10 col-span-2 mb-6 md:mx-10 lg:mx-0">
      <h3 class="mb-2 text-magenta text-3xl pt-10 font-bebas">Pants of the Past</h3>
      <p class="text-gray-500 mx-auto text-base leading-7 text-gray-700">We've had 300+ designs over the years, some have been and gone. But now is the time to bring some old friends back. <a href="/pages/pants-of-the-past" class="font-semibold text-magenta-500 cursor-pointer">Click here</a> to view our pants of the past page and you can vote to return your favourite designs to the present.</p>
    </div>     {%  endcomment %}
    </div>
  </div>
{% comment %}
{% section 'about-us-marquee' %}
{% endcomment %}
      <div class="py-16 blend-divide bg-gray-50 ">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 px-3 md:px-5 max-w-5xl mx-auto">
          <div class="col-span-1 lg:col-span-2 text-3xl lg:text-5xl leading-8 text-left font-extrabold tracking-tight sm:text-4xl text-magenta-500 max-w-7xl mx-auto space-y-8 font-bebas">Our Values</div>
          <div class="pt-6">
            <div class="flow-root rounded-md px-6 pb-8 h-full border-2 border-solid">
              <div class="-mt-6">
                <div class="flex justify-center">
                  <span class="inline-flex items-center justify-center p-3 rounded-md border-2 border-solid bg-magenta-500 box-shadow">
                    <!-- Heroicon name: outline/cloud-upload -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </span>
                </div>
                <h3 class="mt-8 font-medium tracking-tight text-center text-2xl md:text-3xl text-magenta-500 font-bebas">Smile</h3>
                <p class="mt-5 text-base text-gray-500 text-center">
                  Our eye-catching and colourful products are designed to make you feel good. OddBalls and smiling go hand-in-hand.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root rounded-md px-6 pb-8 h-full border-2 border-solid">
              <div class="-mt-6">
                <div class="flex justify-center">
                  <span class="inline-flex items-center justify-center p-3 rounded-md border-2 border-solid bg-cyan-500 box-shadow">
                    <!-- Heroicon name: outline/lock-closed -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                  </span>
                </div>
                <h3 class="mt-8 font-medium tracking-tight text-center text-2xl md:text-3xl text-magenta-500 font-bebas">Family</h3>
                <p class="mt-5 text-base text-gray-500 text-center">
                  By wearing OddBalls you become part of our family. We support each other and include everyone.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root rounded-md px-6 pb-8 h-full border-2 border-solid">
              <div class="-mt-6">
                <div class="flex justify-center">
                  <span class="inline-flex items-center justify-center p-3 rounded-md border-2 border-solid bg-magenta-500 box-shadow">
                    <!-- Heroicon name: outline/refresh -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                    </svg>
                  </span>
                </div>
                <h3 class="mt-8 font-medium tracking-tight text-center text-2xl md:text-3xl text-magenta-500 font-bebas">Quality</h3>
                <p class="mt-5 text-base text-gray-500 text-center">
                  We pride ourselves on the quality of our products and customer service. If you support us, we will support you (in more ways than one!).
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root rounded-md px-6 pb-8 h-full border-2 border-solid">
              <div class="-mt-6">
                <div class="flex justify-center">
                  <span class="inline-flex items-center justify-center p-3 rounded-md border-2 border-solid bg-cyan-500 box-shadow">
                    <!-- Heroicon name: outline/shield-check -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </span>
                </div>
                <h3 class="mt-8 font-medium tracking-tight text-center text-2xl md:text-3xl text-magenta-500 font-bebas">Cause</h3>
                <p class="mt-5 text-base text-gray-500 text-center">
                  We raise awareness and money for charities in our own unique way.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>






		{% render 'ob-about-us-timeline' %}


    <section class="flex flex-col items-center justify-center py-16 relative text-3xl text-gray-700 w-full blend-divide">
        <a class="h-full w-full absolute inset-0" href="/pages/testimonials" target="_blank"></a>
        <div class="inline-flex">
            <img class="pb-8" src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" alt="" loading="lazy" data-src-desk{{ prefix }}top-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png" data-src-desk{{ prefix }}top-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png" data-src-desk{{ prefix }}top-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_104g00u000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108w01o000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_10dc02i000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_102u00j000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_105o012000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/cfd7fe4d-trustpilot-ratings-5star-gr-rgb-512x96_108i01l000000000000028.png 3x" class="">
        </div>
      <div class="text-center flex items-center flex-col lg:flex-row">
        <div class="lg:text-5xl inline-flex text-3xl text-center ">
          <div class="flex flex-col xs:flex-row"><span>Rated <b class="text-magenta">Excellent </b></span><span class="xs:pl-2"><b class="text-magenta">4.8</b> out of <b class="text-magenta">5.0</b></span></div>	
        </div>
        <div class="inline-flex lg:pl-5">
            <img class="h-20" src="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" alt="" loading="lazy" data-src-desk{{ prefix }}top-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-desk{{ prefix }}top-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-desk{{ prefix }}top-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png" data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png" srcset="//d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_103701b000000000000028.png 1x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_106e02m000000000000028.png 2x, //d9hhrg4mnvzow.cloudfront.net/cook.gousto.co.uk/raf/0501ab9a-trustpilot-brandmark-gr-blk-rgb-320x132px_1000000000000000000028.png 3x" class="">
        </div>
      </div>
    </section>

    



    <div class="relative bg-magenta inline-block w-full blend-divide">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 bg-magenta pt-10">
        <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
          <div class="absolute inset-0 z-10">
            <img class="h-full w-full object-cover opacity-10" src="https://cdn.shopify.com/s/files/1/0353/7249/files/oddballs-cars.jpg?v=1628760997" alt="People working on laptops">          
          </div>
          <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8 bg-magenta-500 z-10 bg-opacity-0">
            <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
              <span class="block text-white font-bebas">charitable causes</span>
            </h1>
            <p class="mt-6 max-w-lg mx-auto text-center text-xl text-white sm:max-w-3xl">
              We are proud to support a number of charities and pride ourselves on making a difference to peoples lives.
            </p>
            <div class="w-full text-center mt-10 flex justify-center">
            	<a href="/pages/our-charities" class="rounded-full  capitalise  block  relative font-semibold text-center p-4 px-6  transition-colors duration-200 oddballs-button oddballs-button--secondary " >Learn More</a>
            </div>
          </div>
        </div>
      </div>
      
<div class="relative responsive-slider-wrap-3 max-w-7xl mx-auto xs:my-3">
  <div class="relative block">
    <div id="charity_logos" class="swiper-container-2 py-5 max-w-7xl mx-auto px-2 overflow-hidden">
      <div class="swiper-wrapper">
        <div class="swiper-slide p-2">
          <img class="rounded-md mx-auto grayscale h-8 xs:h-12 sm:h-16" src="https://cdn.shopify.com/s/files/1/0353/7249/files/OB-foundation-white.png?v=1629297005" alt="">
        </div>
        <div class="swiper-slide p-2">
          <img class="rounded-md mx-auto grayscale h-8 xs:h-12 sm:h-16" src="https://cdn.shopify.com/s/files/1/0353/7249/files/jos-trust-white_b26eab80-3d46-4436-a195-3b0b4362a2fe.png?v=1629297214" alt="">
        </div>
        <div class="swiper-slide p-2">
          <img class="rounded-md mx-auto grayscale h-8 xs:h-12 sm:h-16" src="https://cdn.shopify.com/s/files/1/0353/7249/files/soccer-aid-white.png?v=1628850207" alt="">
        </div>
        <div class="swiper-slide p-2">
          <img class="rounded-md mx-auto grayscale h-8 xs:h-12 md:h-16" src="https://cdn.shopify.com/s/files/1/0353/7249/files/Movember_Com_White.png?v=1628850207" alt="">
        </div>
        <div class="swiper-slide p-2">
          <img class="rounded-md mx-auto grayscale h-8 xs:h-12 sm:h-16" src="https://cdn.shopify.com/s/files/1/0353/7249/files/HOH_logo-white.png?v=1628850207" alt="">
        </div>
        <div class="swiper-slide p-2">
          <img class="rounded-md mx-auto grayscale h-8 xs:h-12 md:h-16" src="https://cdn.shopify.com/s/files/1/0353/7249/files/RAF-white1.png?v=1628850207" alt="">
        </div>
        <div class="swiper-slide p-2">
          <img class="rounded-md mx-auto grayscale h-8 xs:h-12 sm:h-16" src="https://cdn.shopify.com/s/files/1/0353/7249/files/doddies-white.png?v=1631188832" alt="">
        </div>
        <div class="swiper-slide p-2">
          <img class="rounded-md mx-auto grayscale h-8 xs:h-10 md:h-12" src="https://cdn.shopify.com/s/files/1/0353/7249/files/RNRMC_LOGO-white.png?v=1628854595" alt="">
        </div>
        <div class="swiper-slide p-2">
          <img class="rounded-md mx-auto grayscale h-8 xs:h-12 sm:h-16" src="https://cdn.shopify.com/s/files/1/0353/7249/files/Restart-white.png?v=1628850206" alt="">
        </div>
        <div class="swiper-slide p-2">
          <img class="rounded-md mx-auto grayscale h-8 xs:h-12 sm:h-16" src="https://cdn.shopify.com/s/files/1/0353/7249/files/RLC-LogoRGB-white.png?v=1628850207" alt="">
        </div>
      </div>
    </div>
  </div>
</div>  
    </div>

                      
<!-- Initialize Swiper -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
    });

var swiper = new Swiper('.swiper-container-2', {
    slidesPerView: 3,
    spaceBetween: 10,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    breakpoints: {
      640: {
        slidesPerView: 3,
        spaceBetween: 10,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 10,
      },
    },
  });

  });
</script>
{% schema %}
  {
    "name": "About Us Content",
    "settings": [],
    "presets": [
      {
        "name": "About Us Conent"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
