{% schema %}
  {
    "name": "SS-25-Blocks",
    "settings": [],
    "blocks": [
          {
            "type": "image_block",
            "name": "Image Block",
            "settings": [
              {
                "type": "image_picker",
                "id": "circle_image",
                "label": "Image"
              },{
                "type": "collection",
                "id": "page",
                "label": "Page"
              },
              {
                "type": "url",
                "id": "url",
                "label": "Use Url instead of a collection"
              },
              {
                "type": "text",
                "id": "title",
                "label": "button text",
              },
              {
                "type": "text",
                "id": "button-classes",
                "label": "button classes"
              },
              {
                "type": "text",
                "id": "text-classes",
                "label": "button text classes"
              },
              {
                "type": "checkbox",
                "id": "show_on_all_markets",
                "default": true,
                "label": "Show On All Markets",
                "info": "on to show on all"
              },
              {
                "type": "text",
                "id": "markets_to_show_on",
                "label": "Markets to show on",
                "info": "Example would look like: uk, en-eu (shows on UK and EU markets)"
              },
              {
                "type": "text",
                "id": "markets_to_exclude_on",
                "label": "Markets to Exclude on",
                "info": "Example would look like: uk, en-eu (Would not show on UK and EU markets)"
              }
            ]
          }
    ],
    "presets":[{"name":"SS-25-Blocks"}]
  }
{% endschema %}

{% comment %}
/*-------------------------------- */
/*  markets logic init
/*-------------------------------- */
{% endcomment %}
{% assign market_code = localization.language.root_url %}
{% if market_code == '/' %}
  {% assign market_code = 'uk' %}
{% else %}
  {% assign market_code = market_code | remove: '/' %}
{% endif %}
{% comment %}
/*-------------------------------- */
/*  markets logic init END
/*-------------------------------- */
{% endcomment %}


<div class="grid md:grid-cols-2 gap-2">
  <div class="grid-cols-2 grid gap-2">
  {% for block in section.blocks %}



{% comment %}
/*-------------------------------- */
/*  markets logic 
/*-------------------------------- */
{% endcomment %}
          {% assign show_block = true %}
          {% if block.settings.show_on_all_markets == false %}
            {% assign markets_to_show = block.settings.markets_to_show_on | split: ',' %}
            {% assign markets_to_exclude_on = block.settings.markets_to_exclude_on | split: ',' %}

            {% if markets_to_exclude_on != blank %}
            {% for market in markets_to_exclude_on %}
              {% assign market_strip = market | strip %}
              {% assign market_downcase = market_strip | downcase %}
              {% if market_code == market_downcase %}
                {% assign show_block = false %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% endif %}
            
            {% if markets_to_show != blank and show_block  %}
              
              {% assign show_block = false %}
              {% for market in markets_to_show %}
      
                {% assign market_strip = market | strip %}
                {% assign market_downcase = market_strip | downcase %}
                {% if market_code == market_downcase %}
                  {% assign show_block = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% else %}
            {% assign show_block = true %}
          {% endif %}

{% if show_block %}
{% comment %}
/*-------------------------------- */
/*  markets logic END
/*-------------------------------- */
{% endcomment %}


    
  {% unless forloop.index == 5 %}

    
{% if block.settings.page.url %}
  {% capture block_url_raw %}{{ block.settings.page.url }}{% endcapture %}
{% elsif block.settings.url %}
  {% capture block_url_raw %}{{ block.settings.url }}{% endcapture %}
{% else %}
  {% capture block_url_raw %}No valid URL or Page specified{% endcapture %}
{% endif %}

  
    <a  href="{%- render 'ob-process-international-link', url: block_url_raw -%}">
    <div 25-blocks 1 class="relative ss-small-image">
     {{ block.settings.circle_image | media_tag: image_size: '400x' }}
          {% if block.settings.title != blank %}
            <div class="flex justify-center w-full absolute bottom-2">
          <div class="{{ block.settings.button-classes }} bg-white px-2 py-1 rounded-full font-bold md:py-2 bg-white px-2 py-1 md:py-2 md:px-6 rounded-full font-bold  text-center">
                      <div
                        class="{{ block.settings.text-classes }}"
                      >
                        {{ block.settings.title }}
                      </div>
                    </div>
            </div>
          {% endif %}
    </div>
    </a>
    {% endunless %}




{% comment %}
/*-------------------------------- */
/*  markets logic 
/*-------------------------------- */
{% endcomment %}
{% endif %}        
{% comment %}
/*-------------------------------- */
/*  markets logic END
/*-------------------------------- */
{% endcomment %}



    
  {% endfor %}
  </div>


  
  {% for block in section.blocks %}




{% comment %}
/*-------------------------------- */
/*  markets logic 
/*-------------------------------- */
{% endcomment %}
          {% assign show_block = true %}
          {% if block.settings.show_on_all_markets == false %}
            {% assign markets_to_show = block.settings.markets_to_show_on | split: ',' %}
            {% assign markets_to_exclude_on = block.settings.markets_to_exclude_on | split: ',' %}

            {% if markets_to_exclude_on != blank %}
            {% for market in markets_to_exclude_on %}
              {% assign market_strip = market | strip %}
              {% assign market_downcase = market_strip | downcase %}
              {% if market_code == market_downcase %}
                {% assign show_block = false %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% endif %}
            
            {% if markets_to_show != blank and show_block  %}
              
              {% assign show_block = false %}
              {% for market in markets_to_show %}
      
                {% assign market_strip = market | strip %}
                {% assign market_downcase = market_strip | downcase %}
                {% if market_code == market_downcase %}
                  {% assign show_block = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% else %}
            {% assign show_block = true %}
          {% endif %}

{% if show_block %}
{% comment %}
/*-------------------------------- */
/*  markets logic END
/*-------------------------------- */
{% endcomment %}



  
  {% if forloop.index == 5 %}



{% if block.settings.page.url %}
  {% capture block_url_raw %}{{ block.settings.page.url }}{% endcapture %}
{% elsif block.settings.url %}
  {% capture block_url_raw %}{{ block.settings.url }}{% endcapture %}
{% else %}
  {% capture block_url_raw %}No valid URL or Page specified{% endcapture %}
{% endif %}

  
    <a style="height:max-content" href="{%- render 'ob-process-international-link', url: block_url_raw -%}">
    <div 25-blocks. 2 class="ss-big-image h-full relative">
       {{ block.settings.circle_image | media_tag: image_size: '800x' }}
          {% if block.settings.title != blank %}
            <div class="absolute bottom-2 flex justify-center w-full">
          <div class="{{ block.settings.button-classes }} bg-white px-2 py-1 rounded-full font-bold md:py-2 bg-white px-2 py-1 md:py-2 md:px-6 rounded-full font-bold  text-center">
                      <div
                        class="{{ block.settings.text-classes }}"
                      >
                        {{ block.settings.title }}
                      </div>
                    </div>
            </div>
          {% endif %}
    </div>
    </a>
    {% endif %}



{% comment %}
/*-------------------------------- */
/*  markets logic 
/*-------------------------------- */
{% endcomment %}
{% endif %}        
{% comment %}
/*-------------------------------- */
/*  markets logic END
/*-------------------------------- */
{% endcomment %}

  
  {% endfor %}
</div>
<style>
  .ss-big-image img{
    width:100%;
    height:100%;
    position: relative;
  }
  .ss-small-image img{
    width:100%;
    position: relative;
  }
</style>
