  {%  layout none %}
  {% assign all_prints = ''%}
  {% assign current_market = localization.market.handle %}
  {% for object in shop.metaobjects.design_list_by_style.values %}
      {% assign search_query = search.terms %}
      {% assign extracted_handle = search_query | split: '|' | first %}
      
      {% assign related_product = all_products[extracted_handle] %}
      {% if related_product and related_product.type %}
      {% assign product_type = related_product.type %}
      {% if search.terms contains 'adventurous' %}
      {% paginate object.adventurous.value by 50 %}
      {% for design in object.adventurous.value %}
        {% assign to_show = "true" %}
        {% if design.excluded_markets contains  current_market  %}
          {% assign to_show = "false" %}
              {% endif %}
              {% assign count = count | plus: 1 %}
              {% assign collection_handle = design.collection %}
              {% assign collection = collections[collection_handle] %}
              {% if collection != nil %}
                  {% assign collection_products = collection.products %}
                  {% assign collection_products = collection.products | where: 'type', product_type %}
                  {% assign prod = collection_products[0] %}
                  {% assign collection_products = blank %}
                  {% if prod != nil and to_show == "true" %}
                      {% capture the_print %}
                          <div data-handle="{{ prod.handle }}" class="js-qb-print-swap js-not-ordered cursor-pointer w-12 h-12 rounded-full {% if prod == product %}order-first{% endif %}" style="    cursor: pointer;cursor: hand;">
                          <label for="print_{{ design.title | handle }}" data-print="{{ prod.featured_image | img_url: '480x' }}" style="cursor: pointer;cursor: hand;" class="relative  group flex items-center justify-center rounded-md border font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-active="ring-2 ring-magenta">
                          <input id="print_{{ design.title | handle }}"  type="radio" {% if prod == product %}checked{% endif %} name="product-print-option-{{ styletag | handle }}" value="{{ design.title }}" class="peer sr-only">
                          <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-gray-200 peer-checked:shadow-2xl peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                          <span class="option-value relative peer-checked:text-white w-full pt-full animate-mt">
                          <img loading="lazy" class="absolute w-full h-full top-0 left-0 rounded-full" width="80" height="80" alt="{{ design.title }} print swap" src="{{ design.design_image | image_url: width: 80, height: 80 }}"
                          srcset="
                          {{ design.design_image | image_url: width: 40, height: 40 }} 40w,
                          {{ design.design_image | image_url: width: 80, height: 80 }} 80w,
                          {{ design.design_image | image_url: width: 120, height: 120 }} 120w,
                          {{ design.design_image | image_url: width: 160, height: 160 }} 160w,
                          {{ design.design_image | image_url: width: 180, height: 180 }} 180w,
                          {{ design.design_image | image_url: width: 240, height: 240 }} 240w,
                          {{ design.design_image | image_url: width: 300, height: 300 }} 300w
                          " sizes="(max-width: 720px) 25vw, 8vw"/>
                          </span>
                          <div class="js-prod-json" style="display:none;">{{ prod | json }} </div>
                          </label>
                          </div>
                      {% endcapture %}
                      {% assign all_prints = all_prints | append: the_print %}
                  {% endif %}
              {% endif %}


        
      {% endfor %}
      {% endpaginate %}
      {% endif %}
      {% if search.terms contains 'classic' %}
      {% for design in object.classic.value %}
        {% assign to_show = "true" %}
                {% if design.excluded_markets contains  current_market  %}
          {% assign to_show = "false" %}
              {% endif %}
              {% assign count = count | plus: 1 %}
              {% assign collection_handle = design.collection %}

              {% assign collection = collections[collection_handle] %}
              {% if collection != nil %}
                  {% assign collection_products = collection.products %}
                  {% assign collection_products = collection.products | where: 'type', product_type %}
                  {% assign prod = collection_products[0] %}
                  {% assign collection_products = blank %}
                  {% if prod != nil and to_show == "true" %}
                      {% capture the_print %}
                          <div data-handle="{{ prod.handle }}" class="js-qb-print-swap js-not-ordered cursor-pointer w-12 h-12 rounded-full {% if prod == product %}order-first{% endif %}" style="    cursor: pointer;cursor: hand;">
                          <label for="print_{{ design.title | handle }}" data-print="{{ prod.featured_image | img_url: '480x' }}" style="cursor: pointer;cursor: hand;" class="relative  group flex items-center justify-center rounded-md border font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-active="ring-2 ring-magenta">
                          <input id="print_{{ design.title | handle }}"  type="radio" {% if prod == product %}checked{% endif %} name="product-print-option-{{ styletag | handle }}" value="{{ design.title }}" class="peer sr-only">
                          <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-gray-200 peer-checked:shadow-2xl peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                          <span class="option-value relative peer-checked:text-white w-full pt-full animate-mt">
                          <img loading="lazy" class="absolute w-full h-full top-0 left-0" width="80" height="80" alt="{{ design.title }} print swap" src="{{ design.design_image | image_url: width: 80, height: 80 }}"
                          srcset="
                          {{ design.design_image | image_url: width: 40, height: 40 }} 40w,
                          {{ design.design_image | image_url: width: 80, height: 80 }} 80w,
                          {{ design.design_image | image_url: width: 120, height: 120 }} 120w,
                          {{ design.design_image | image_url: width: 160, height: 160 }} 160w,
                          {{ design.design_image | image_url: width: 180, height: 180 }} 180w,
                          {{ design.design_image | image_url: width: 240, height: 240 }} 240w,
                          {{ design.design_image | image_url: width: 300, height: 300 }} 300w
                          " sizes="(max-width: 720px) 25vw, 8vw"/>
                          </span>
                          <div class="js-prod-json" style="display:none;">{{ prod | json }} </div>
                          </label>
                          </div>
                      {% endcapture %}
                      {% assign all_prints = all_prints | append: the_print %}
                  {% endif %}
              {% endif %}

        
      {% endfor %}
      {% endif %}
      {% if search.terms contains 'partnerships' %}
      {% paginate object.partnerships.value by 80 %}
      {% for design in object.partnerships.value %}
        {% assign to_show = "true" %}
                {% if design.excluded_markets contains  current_market  %}
          {% assign to_show = "false" %}
              {% endif %}
        {% assign count = count | plus: 1 %}
              {% assign collection_handle = design.collection %}

              {% assign collection = collections[collection_handle] %}
              {% if collection != nil %}
                  {% assign collection_products = collection.products %}
                  {% assign collection_products = collection.products | where: 'type', product_type %}
                  {% assign prod = collection_products[0] %}
                  
                  {% assign collection_products = blank %}
                  {% if prod != nil and to_show == "true"%}
                      {% capture the_print %}
                          <div data-handle="{{ prod.handle }}" class="js-qb-print-swap js-not-ordered cursor-pointer w-12 h-12 rounded-full  {% if prod == product %}order-first{% endif %}" style="    cursor: pointer;cursor: hand;">
                          <label for="print_{{ design.title | handle }}" data-print="{{ prod.featured_image | img_url: '480x' }}" style="cursor: pointer;cursor: hand;" class="relative  group flex items-center justify-center rounded-md border font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-active="ring-2 ring-magenta">
                          <input id="print_{{ design.title | handle }}"  type="radio" {% if prod == product %}checked{% endif %} name="product-print-option-{{ styletag | handle }}" value="{{ design.title }}" class="peer sr-only">
                          <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-gray-200 peer-checked:shadow-2xl peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                          <span class="option-value relative peer-checked:text-white w-full pt-full animate-mt">
                          <img loading="lazy" class="absolute w-full h-full top-0 left-0" width="80" height="80" alt="{{ design.title }} print swap" src="{{ design.design_image | image_url: width: 80, height: 80 }}"
                          srcset="
                          {{ design.design_image | image_url: width: 40, height: 40 }} 40w,
                          {{ design.design_image | image_url: width: 80, height: 80 }} 80w,
                          {{ design.design_image | image_url: width: 120, height: 120 }} 120w,
                          {{ design.design_image | image_url: width: 160, height: 160 }} 160w,
                          {{ design.design_image | image_url: width: 180, height: 180 }} 180w,
                          {{ design.design_image | image_url: width: 240, height: 240 }} 240w,
                          {{ design.design_image | image_url: width: 300, height: 300 }} 300w
                          " sizes="(max-width: 720px) 25vw, 8vw"/>
                          </span>
                          <div class="js-prod-json" style="display:none;">{{ prod | json }} </div>
                          </label>
                          </div>
                      {% endcapture %}
                      {% assign all_prints = all_prints | append: the_print %}
                  {% endif %}
              {% endif %}

        
      {% endfor %}
      {% endpaginate %}
      {% endif %}
      {% endif %}
  {% endfor %}{{ all_prints }}